# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.idea/

# Graphviz stuff
*.gv
*.gv.pdf
*.pdf

# Ignore rers
rers/SeqReachabilityRers2019
rers/TrainingSeqReachRers2019
rers/IndReachabilityRers2019
rers/SeqReachabilityRers2020
rers/TrainingSeqReachRers2020
rers/IndReachabilityRers2020
rers/industrial
rers/rers_19_industrial_reachability_training
rers/*.zip*

afl/TrainingSeqReachRers2019
afl/SeqReachabilityRers2019
afl/IndReachabilityRers2019
afl/TrainingSeqReachRers2020
afl/SeqReachabilityRers2020
afl/IndReachabilityRers2020
afl/industrial
afl/rers_19_industrial_reachability_training
afl/*.zip*

*.png
*.pdf

# cache files
cache/
checkpoints/

# pickle files
*.p

# weird tab files
lextab.py
yacctab.py

tmp

# Checkpoint folders
checkpoint*/

# Angr and klee experiments
angr/
klee/

# LTL checking models
*.aut
*.lps
*.ltl
*.mcrl2
*.smv

# Core dumps >_>
*core.*

/experiments/learningfuzzing/hypotheses/afl_plain/
/experiments/learningfuzzing/TrainingSeqReachRers2019/
/experiments/learningfuzzing/TrainingSeqReachRers2019_afl_plain/
/experiments/learningfuzzing/TrainingSeqReachRers2019_afl_wtraces/TrainingSeqReachRers2019/
/angr/angr-dev/angr-utils/angr_utils.egg-info/
/experiments/reinforcementlearning/testlol/qviTkw/
/experiments/reinforcementlearning/nosampling
/experiments/reinforcementlearning/not_slippery
/gym
/step1
/step2
/step3
/rers/ltl_training/
/rers/SeqLtlRers2020/
/rers/TrainingSeqLtlRers2019/
/rers/TrainingSeqLtlRers2020/
/experiments/rers/hypotheses/
/experiments/rers/results/
/experiments/figures/
/afl/parse
/angr/
/angr/angr-dev/angr-utils/angr_utils.egg-info/
/angr/angr-dev/angr-utils/angr_utils.egg-info/
/angr/angr-dev/angr-utils/angr_utils.egg-info/dependency_links.txt
/angr/angr-dev/angr-utils/angr_utils.egg-info/PKG-INFO
/angr/angr-dev/angr-utils/angr_utils.egg-info/requires.txt
/angr/angr-dev/angr-utils/angr_utils.egg-info/SOURCES.txt
/angr/angr-dev/angr-utils/angr_utils.egg-info/top_level.txt
